body {
    margin:0%;
    background: #222;
    font-family:sans-serif;
    font-weight:300;
}

.container{
    widows:80%;
    margin:0% auto;

}

header {
    background: #343434;
}

.logo {
    float:left;
    padding:10px;
}
nav{
    float:right;
    display:inline-flex;
}

nav ul {
    margin: 0%;
    padding: 0%;
    list-style:none;
    padding-right: 45px;

    
}

nav li {
    display: inline-block;
    margin-left:70px;
    padding-top:23px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    position: relative;
    
}
nav a {
    color:floralwhite;
   
}

.logo{
   height: 75px; 
   margin-top: 1%;
   margin-left: 5%;
   position: relative;
   
   }
 



.Hi{
    padding-right: 50px;
    padding-bottom: 75%;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.87);
    text-align:center; 
    padding-top: 15%;
    }

h1{
    padding-left: 0%;
    text-align: center;
    color:#23E5FF;
}



h2{
        width: 655px;
height: 111px;
left: 545px;
top: 393px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 35px;
line-height: 120%;
padding-left: 26%;
text-align: center;
color: rgba(255, 255, 255, 0.87);
padding-top: 0%;
color: #ffffff;

}
 h3{
font-size: 18px; 
line-height: 117%;
text-align: center;
padding-left: 26%; 
padding-right: 5%;
padding-top: 0%; 
width: 638px;
height: 151px;
left: 545px;
top: 516px;
}
h4{
    padding-top: 10%;
}

.card {
    display:inline-flex;
    grid-template-columns:10px ;
    grid-template-rows: 10px 10px 25px ;
    grid-template-areas: "image" "text" "stats";


    border-radius:18px ;
    background: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0,9);
    text-align: center;
   }
   
.card-image{
    grid-area: "image";
    background: url();
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-size:cover;
    
}
.card-text {
    grid-area: "text";
    text-align: center;
    margin: 25px;
}
.card-stats{
    grid-area: "stats";
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-bottom-left-radius: 15px ;
    border-bottom-right-radius: 15px;
    background: rgb(255,7,110);
}
