body {
    margin:0%;
    background: rgb(66, 66, 66);
    font-family:sans-serif;
    font-weight:300;
}

.container{
    widows:80%;
    margin:0% auto;

}

header {
    background: #343434;
}

.logo {
    float:left;
    padding:10px;
}
nav{
    float:right;
    display:inline-flex;
}

nav ul {
    margin: 0%;
    padding: 0%;
    list-style:none;
    padding-right: 45px;

    
}

nav li {
    display: inline-block;
    margin-left:70px;
    padding-top:23px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    position: relative;
    
}
nav a {
    color:floralwhite;
   
}

.logo{
   height: 75px; 
   margin-top: 1%;
   margin-left: 5%;
   position: relative;
   
   }
 



.about_me{
    padding-right: 50px;
    padding-bottom: 75%;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.87);
    text-align:center; 
    padding-top: 15%;

    }

h1{
    padding-left: 0%;
    text-align: center;
    color:#23E5FF;
}



h2{
        width: 655px;
height: 111px;
left: 545px;
top: 393px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 35px;
line-height: 120%;
padding-left: 26%;
text-align: center;
color: rgba(255, 255, 255, 0.87);
padding-top: 0%;
color: #ffffff;

}
 h3{
font-size: 18px; 
line-height: 117%;
text-align: center;
padding-left: 26%; 
padding-right: 5%;
padding-top: 0%; 
width: 638px;
height: 151px;
left: 545px;
top: 516px;
}
h4{
    padding-top: 10%;
}


.container-1{
    display: inline;
    flex-direction: column;
    padding-left:auto;
    padding-right: auto;
    width: 50%;

   
    
}
.container-1 div{
    border: 1px #ccc solid;
    padding: 10px;
    align-content: center;
}

.skills-1{


}

.skills-2{

}

.skills-3{
    

}
.skills{
    text-align: center;
}
  
.container-2{
    display: flex;
    flex-direction: row;
    
}

.container-2 div{
    border: 1px #ccc solid;
    padding: auto;
    align-content: center;
    
}